
@media (max-width: 1200px) {
	.process {
		padding: 100px 10px 0 10px;
	}
}


@media (max-width: 1200px) {

}


@media (max-width: 768px) {
	.process {
		padding-top: 56px;
		.title {
			font-size: 30px;
			line-height: 37px;
		}
		&__items {
			margin-top: 46px;
		}
		&__item {
			font-size: 14px;
			line-height: 26px;
			span {
				font-size: 50px;
				line-height: 61px;
			}
		}
	}
}

@media (max-width: 576px) {
	.process {
		padding-top: 36px;
		.title {
			font-size: 20px;
			line-height: 30px;
		}
		&__items {
			margin-top: 18px;
			grid-template-columns: 1fr;
			justify-content: center;
		}
		&__item {
			margin-top: 11px;
		}
		&__item:nth-child(1) {
			order: 1;
		}
		&__item:nth-child(2) {
			order: 4;
		}
		&__item:nth-child(3) {
			order: 2;
		}
		&__item:nth-child(4) {
			order: 5;
		}
		&__item:nth-child(5) {
			order: 3;
		}
		&__item:nth-child(6) {
			order: 6;
		}
	}
}