.promo {
	padding-top: 16px;
	&__header {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 700;
		font-size: 60px;
		line-height: 73px;
		color: #000000;
	}
	&__select {
		display: flex;
		align-items: center;
		border-top: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
		padding: 14px 0;
		margin-top: 41px; 
		&_menu-text {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			color: #B1B1B1;
		}
		&_vector {
			display: flex;
			color: #4C858B;
			font-size: 20px;
			margin: 0 8px;
			padding-bottom: 3px;
			cursor: pointer;
		}
		&_vector:hover {
			transform: rotate(90deg);
			transition: all 0.5s;
		}
		&_wrapper {
			border: none;
			list-style-type: none;
			color: #4C858B;
			appearance: none;
			cursor: pointer;
		}
	}
	&__text {
		margin-top: 81px;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #000000;
	}
	&__link {
		color: #E33E54;
	}
	&__main {
		margin-top: 47px;
		display: grid;
		grid-template-columns: 50% 1fr;
		&_title {
			font-family: "Montserrat";
			font-weight: 600;
			font-size: 40px;
			line-height: 63px;
			color: #000000;
			span {
				color: #E33E54;
				font-weight: 800;
				text-transform: uppercase;
			}
		}
		&_item ul {
			width: 90%;
			list-style: none;
			padding-left: 56px;
			margin-top: 39px;
		}
		&_list-item {
			position: relative;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #000;
			margin-top: 20px;
		}
		&_list-item::before {
			position: absolute;
			content: "";
			top: 7.5px;
			left: -25px;
			width: 9px;
			height: 9px;
			background: #EA6628;
			border-radius: 100%;
		}
		&_item:nth-child(2) {
			position: relative;
		}
		&_photo {
			position: absolute;
			top: 0;
			right: -180px;
			z-index: 1;
		}
		&_chimney {
			position: absolute;
			left: 200px;
			top: -20px;
			z-index: 10;
		}
		&_triangle1 {
			position: absolute;
			top: 53px;
			right: -204px;
			z-index: 10;
		}
		&_triangle2 {
			position: absolute;
			top: 159px;
			left: 33px;
			z-index: 10;
		}
		&_dots1 {
			position: absolute;
			bottom: -47px;
			right: -99px;
			z-index: 10;
		}
		 &_dots2 {
			position: absolute;
			top: 9px;
			left: 144px;
			z-index: 10;
		}
	}
}
