
@media (max-width: 1440px) {
	.promo {
		&__main {
			display: block;
		}
		&__main_item:nth-child(2) {
			display: none;
		}
		&__main_title {
			text-align: center;
		}
	}
} 

@media (max-width: 1200px) {
	.promo {
		padding-top: 80px;
		padding: 16px 10px 0 10px;
	}
}

@media (max-width: 992px) {
	.promo {
		padding-top: 56px;
		&__title {
			font-size: 60px;
			line-height: 73px;
		}
		&__select {
			margin-top: 41px; 
		}
		&__text {
			margin-top: 60px;
		}
		&__main {
			margin-top: 19px;
			&_item ul {
				margin-top: 21px;
			}
		}
	}
}

@media (max-width: 768px) {
	.promo {
		padding-top: 41px;
		&__title {
			font-size: 30px;
			line-height: 37px;
		}
		&__select {
			margin-top: 11px; 
		}
		&__text {
			margin-top: 25px;
		}
		&__main {
			margin-top: 16px;
			&_item ul {
				margin-top: 17px;
			}
		}
	}
}

@media (max-width: 576px) {
	.promo {
		&__main_title {
			font-size: 25px;
			line-height: 25px;
		}
		&__main {
			&_list-item {
				font-size: 11px;
				line-height: 20px;
			}
			&_item ul {
				padding-left: 35px;
			}
		}
	}
}
 

 
 
