@import '../style/mixins';


.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px 72px 0 63px;
	&__logo {
		min-width: 100px;
		min-height: 97px;
		cursor: pointer;
	}
	&__hamburger {
		min-width: 56px;
		min-height: 56px;
		margin-left: 9px;
		border: 1px solid #4C858B;
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		display: none;
		&-divider {
			background-color: #4C858B;
			width: 22px;
			height: 2px;
		}
		&-divider:nth-child(2) {
			margin: 6px 0;
		}
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 30%;
		&_item {
			font-size: 11px;
			font-family: "Montserrat";
			font-weight: 700;
			color: #4C858B;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
	&__phone {
		margin-left: 56px;
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 11px;
		line-height: 20px;
		letter-spacing: 0.08em;
		color: #4C858B;
		text-decoration: none;
		span {
			color: #000;
			font-weight: 700;
		}
	}
	&__btn {
		margin-left: 70px;
		border: none;
		border-bottom: 2px dotted #AE2236;
		background-color: #fff;
		cursor: pointer;
	}
	&__link {
		text-decoration: none;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 700;
		font-size: 11px;
		line-height: 17px;
		text-align: center;
		text-transform: uppercase;
		color: #AE2236;
	}
	&__social {
		margin-left: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 120px;
	}
	&__nav-elements {
		margin-left: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		.element:nth-child(2) {
			margin: 0 16px;
		}
	}
}

 