@import '../style/mixins.scss';

.installation {
	padding-top: 108px;
	&__descr {
		margin-top: 66px;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #000000;
	}
	&__wrapper {
		position: relative;
		margin-top: 100px;
		text-align: center;
		max-height: 500px
	}
	&__dots1 {
		position: absolute;
		left: 120px;
    	top: 244px;
	}
	&__dots2 {
		position: absolute;
		top: -24px;
		right: 120px;
	}
}

.video-js {
	position: relative;
	top: -550px;
	width: 771px;
	height: auto;
	aspect-ratio: 16/9;
	margin: 200px auto;
	margin-bottom: 0;
}